.rotate {
    -webkit-animation: preloader 1.5s infinite linear;
    -moz-animation: preloader 2.5s infinite linear;
    -ms-animation: preloader 3.5s infinite linear;
    -o-animation: preloader 4.5s infinite linear;
    animation: preloader 6.5s infinite linear;
}
.tickets_reply_rows .error, .tickets_reply_rows .msg {
	margin-left: 0;
	margin-right: 0;
}
.box_msg, .box_msg_gray, .msg {
	background-color: #f0f2f5;
	-o-transition: background-color 2s linear;
	transition: background-color 2s linear;
}
.box_error, .box_msg, .box_msg_gray, .error, .info_msg, .msg, .ok_msg {
	padding: 7px 18px 9px;
	border: 1px solid #c1c9d9;
	line-height: 150%;
}
table, td, th {
    border: 1px solid black;
}
.flat-table {
  display: block;
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
  font-size: 115%;
  overflow: auto;
  width: auto;
}
.flat-table th {
  background-color: #70c469;
  color: white;
  font-weight: normal;
  padding: 20px 110px;
  text-align: center;
}
.flat-table td {
  background-color: #eeeeee;
  color: #6f6f6f;
  padding: 20px 110px;
}

@-webkit-keyframes preloader {
    to { -webkit-transform: rotate(360deg); }
}

@-moz-keyframes preloader {
    to { -moz-transform: rotate(360deg); }
}

@-ms-keyframes preloader {
    to { -ms-transform: rotate(360deg); }
}

@-o-keyframes preloader {
    to { -o-transform: rotate(360deg); }
}

@keyframes preloader {
    to { transform: rotate(360deg); }
}

/* Общие стили */
html {
	font-family: 'PT Sans', 'Calibri', 'Arial', 'Sans-Serif', 'Tahoma';
	}
body {
	cursor: default;
	}
a {
	color: inherit;
	}

#blink1 {
  -webkit-animation: blink1 3s linear infinite;
  animation: blink1 3s linear infinite;
}
@-webkit-keyframes blink1 {
  0% { color: rgba(34, 34, 34, 1); }
  50% { color: rgba(34, 34, 34, 0); }
  100% { color: rgba(34, 34, 34, 1); }
}
@keyframes blink1 {
  0% { color: rgba(34, 34, 34, 1); }
  50% { color: rgba(34, 34, 34, 0); }
  100% { color: rgba(34, 34, 34, 1); }
}

/* Шрифт Supercell-Magic */
@font-face {
	font-family: SupercellMagic;
	src: local('Open Sans Regular'),
		 url(/font/supercell-magic.eof-)/*tpa=http://coc-service.ru/css/fonts/supercell-magic/supercell-magic.eof?*/ format('eof'),
		 url(/font/supercell-magic.woff)/*tpa=http://coc-service.ru/css/fonts/supercell-magic/supercell-magic.woff*/ format('woff'),
		 url(/font/supercell-magic.ttf)/*tpa=http://coc-service.ru/css/fonts/supercell-magic/supercell-magic.ttf*/ format('truetype');
	}
.Btn, .SiteContent__title, .LogIn__register, .Product, .Account__lvl, [type=radio]+label, [type=checkbox]+label,
.Popup__header, .LogIn__name, .Tickets__btn, .Confirm__header, .Custom__header,
.Profile__login, .Content__title, .Content__subtitle, .Profile__message h2,
.FAQ__title, .AdminGems__title, .Account__full, .Review__user,
.Mail__sender {
	font-family: SupercellMagic, Arial Black;
	color: #fff;
	text-decoration: none;
	line-height: 1.5;
	text-shadow: 1px 0 #000, -1px 0 #000, 0 2px #000, 0 -1px #000, 1px 2px #000, -1px 2px #000, 1px -1px #000, -1px -1px #000;/**/
	/*text-shadow: 0 .2em RGBA(0,0,0,.4);
	/*text-shadow: 0 1px 2px #000;/**/
	}

._center {text-align: center;}
._right {text-align: right;}
._middle {vertical-align: middle;}

.Btn {
	display: inline-block;
	position: relative;
	box-sizing: border-box;
	font-size: .9rem;
	word-wrap: nowrap;
	padding: 0 20px;
	line-height: 2em;
	height: 2em;
	border: 1px solid #000;
	box-shadow: 0 2px #000, inset 0 1px 2px #fff;
	border-radius: 8px;
	background-image: -webkit-linear-gradient(top, RGBA(255,255,255,.1), RGBA(123,123,123,0), RGBA(0,0,0,.2));
	background-image:    -moz-linear-gradient(top, RGBA(255,255,255,.1), RGBA(123,123,123,0), RGBA(0,0,0,.2));
	background-image:     -ms-linear-gradient(top, RGBA(255,255,255,.1), RGBA(123,123,123,0), RGBA(0,0,0,.2));
	background-image:      -o-linear-gradient(top, RGBA(255,255,255,.1), RGBA(123,123,123,0), RGBA(0,0,0,.2));
	background-image:         linear-gradient(top, RGBA(255,255,255,.1), RGBA(123,123,123,0), RGBA(0,0,0,.2));
	margin-bottom: 4px;
	cursor: pointer;
	outline: none;
	transition: background-color .15s linear, transform .15s cubic-bezier(0.36, 2, 0.78, 1.32);
	}
.Btn * {position: relative;}
.Btn:before {
	content: '';
	position: absolute;
	background: #fff;
	opacity: .3;
	border-radius: 6px;
	top: 3px; left: 3px; right: 3px; bottom: 40%;
	}
.Btn[class*=' _']:hover {
	transform: scale(1.05);
}
.Btn[class*=' _']:active {
	transform: scale(1);
}
.Btn._white {background-color: #9b9b9b;} .Btn._green:hover {background-color: #aaaaaa;}
.Btn._green {background-color: #86c826;} .Btn._green:hover {background-color: #a4e93e;}
.Btn._orange {background-color: #dd6c18;} .Btn._orange:hover {background-color: #ff8315;}
.Btn._blue {background-color: #217bbb;} .Btn._blue:hover {background-color: #1d91e3;}
.Btn._red {background-color: #d80000;} .Btn._red:hover {background-color: #e83416;}
.Btn._disabled {background: #999; color: #c8c8c8; cursor: default;}
.Btn._big {
	line-height: 3em;
	height: 3em;
}

input:not([type]), input[type=text], input[type=password], input[type=email], textarea {
	font-family: Arial;
	display: inline-block;
	position: relative;
	box-sizing: border-box;
	font-size: .9rem;
	word-wrap: nowrap;
	padding: 0 10px;
	border: 1px solid #000;
	box-shadow: 0 2px #000, inset 0 1px 2px #fff;
	border-radius: 8px;
	background-image: -webkit-linear-gradient(bottom, RGBA(255,255,255,.1), RGBA(123,123,123,0), RGBA(0,0,0,.2));
	background-image:    -moz-linear-gradient(bottom, RGBA(255,255,255,.1), RGBA(123,123,123,0), RGBA(0,0,0,.2));
	background-image:     -ms-linear-gradient(bottom, RGBA(255,255,255,.1), RGBA(123,123,123,0), RGBA(0,0,0,.2));
	background-image:      -o-linear-gradient(bottom, RGBA(255,255,255,.1), RGBA(123,123,123,0), RGBA(0,0,0,.2));
	background-image:         linear-gradient(bottom, RGBA(255,255,255,.1), RGBA(123,123,123,0), RGBA(0,0,0,.2));
	margin-bottom: 4px;
	background-color: #fff5ed;
	outline: none;
	}
input:not([type]), input[type=text], input[type=password], input[type=email] {
	line-height: 2em;
	height: 2em;
}
textarea {
	resize: vertical;
	width: 100%;
	padding: 7px 10px;
}
textarea._big {
	height: 100px;
}

[type=radio], [type=checkbox] {display: none;}
[type=radio]+label, [type=checkbox]+label {
	display: inline-block;
	vertical-align: bottom;
	cursor: pointer;
	border-color: #000;
	border-style: solid;
	border-width: 1px 1px 3px;
	border-radius: 8px;
	height: 2.5em; line-height: 2.5em;
	padding: 0 15px;
}
[type=radio]+label._small, [type=checkbox]+._small {
	font-size: .9em;
	height: 2.5em; line-height: 2.5em;
	padding: 0 15px;
}
[type=radio]+label._img {
	padding: 0;
	overflow: hidden;
	width: 80px;
	height: 80px;
	line-height: 80px;
} [type=radio]+label._img img {vertical-align: middle;}
[type=radio]+label._ico {
	padding: 0;
	overflow: hidden;
	width: 30px;
	height: 30px;
	line-height: 30px;
}
[type=radio]+label._img *, [type=radio]+label._ico* {
	vertical-align: middle;
}
[type=radio]:checked+label, [type=checkbox]:checked+label {
	background: #217bbb;
	border-width: 3px 1px 1px;
}

body {
	background: #312c24;
	color: #fff;
	}
	

/* Всплывающие titles */
[data-title] {position: relative;}
.DataTitle {
	line-height: 1;
	font-family: Arial;
	font-size: 1rem;
	padding: 5px 8px;
	position: absolute;
	box-sizing: border-box;
	color: #fff;
	font-weight: bold;
	top: 101%;
	left: 50%;
	background: #1e1a16;
	border: 1px solid #000;
	border-bottom-width: 2px;
	border-radius: 6px;
	display: none;
	z-index: 10;
	transform: translateX(-50%);
}

/* test */
.checkbox{display:none}
.switch
{
width: 62px;
height: 32px;
background: #E5E5E5;
z-index: 0;
margin: 0;
padding: 0;
appearance: none;
border: none;
cursor: pointer;
position: relative;
border-radius:16px; //IE 11
-moz-border-radius:16px; //Mozilla
-webkit-border-radius:16px; //Chrome и Safari
}
.switch:before
{
content: ' ';
position: absolute;
left: 1px;
top: 1px;
width: 60px;
height: 30px;
background: #ee1212;
z-index: 1;
border-radius:16px; //IE 11
-moz-border-radius:16px; //Mozilla
-webkit-border-radius:16px; //Chrome и Safari
}
.switch:after 
{
content: ' ';
height: 29px;
width: 29px;
border-radius: 28px;
background: #FFFFFF;
position: absolute;
z-index: 2;
top: 1px;
left: 1px;
-webkit-transition-duration: 300ms;
transition-duration: 300ms;
-webkit-box-shadow: 0 2px 5px #999999;
box-shadow: 0 2px 5px #999999;
}
.switchOn , .switchOn:before
{
background: #4cd964 !important;
}
.switchOn:after
{
left: 21px !important;
}
/* дизайн подглядела у Эльдорадо и их картинку перевела в CSS */

a.button11 {
  position: relative;
  z-index: 1;
  color: black;
  font-size: 135%;
  font-weight: 700;
  text-decoration: none;
  padding: .25em .5em;
}
a.button11:after {
  content: "Купить";  /* здесь 6 букв */
  position: absolute;
  z-index: -1;
  top: -2px;
  bottom: -2px;
  left: -2px;
  width: calc(100% + 6*(1em*90/135) - 2px*2*2);  /* где 6*(1em*90/135), где 6 - это 6 букв, 90 - это font-size after, а 135 - это font-size родителя */
  text-align: right;
  color: #fff;
  font-size: 90%;
  padding: .25em .5em;
  border-radius: 5px;
  border: 2px solid #c61e40;
  -webkit-transform: skewX(-10deg);
  transform: skewX(-10deg);
  background: linear-gradient(#d4536d, #c61e40) no-repeat 100% 0;
  background-size: calc(6*(1em*90/135) + .5em) 100%;
  box-shadow: inset calc(-6*(1em*90/135) - .5em) 0 rgba(255,255,255,0);
  transition: .3s;
}
a.button11:hover:after {
  box-shadow: inset calc(-6*(1em*90/135) - .5em) 0 rgba(255,255,255,.2);
}
a.button11:active:after {
  background-image: linear-gradient(#c61e40, #d4536d);
}
/* Стили разметки блоков */
.SiteHeader {
	height: 250px;
	line-height: 250px;
	border-bottom: 2px solid #000;
	box-sizing: border-box;
	background: url(/image/header-bg.png)/*tpa=http://coc-service.ru/img/style/header-bg.png*/ no-repeat;
	background-size: cover;
	}
.SiteHeader [class*=gridcol] {
	vertical-align: middle;
	line-height: 1.333;
	}
.LogIn {
	text-align: right;
	position: relative;
	}
.LogIn p:not(:first-of-type) {margin-top: .5em;}
.LogIn__input {width: 120px;}
.LogIn__register, .LogIn__btn {font-size: 1.7em; line-height: 2.5em; height: 2.5em;}
.LogIn__register {margin-right: 10px; color: #ffb651;}

.LogIn__name {
	margin-top: .2em;
	font-size: .9em;
	margin-right: 120px;
	}
.LogIn__profile {
	color: #ffb651;
	margin-right: 120px;
	margin-top: .5em;
	}
.LogIn__profile .Btn {
	width: 150px;
	padding: 0;
	text-align: center;
	font-size: .7em;
	height: 2.2em;
	line-height: 2.2em;
	text-decoration: none;
	}
.LogOut__profile {
	color: #ffb651;
	margin-right: 120px;
	margin-top: .3em;
	}
.LogOut__profile .Btn {
	width: 150px;
	padding: 1;
	text-align: center;
	font-size: .7em;
	height: 2.2em;
	line-height: 2.2em;
	text-decoration: none;
	}
.LogIn__money {
	width: 180px;
	padding-right: 30px;
	margin-right: 20px;
	position: relative;
	cursor: default;
	color: #ffb651;
	}
.LogIn__money:after {
	content: '';
	position: absolute;
	display: block; width: 30px; height: 30px;
	border-radius: 15px;
	border: 1px solid #000;
	right: -5px; top: -1px;
	background: #fcec3f url(/image/gold.png)/*tpa=http://coc-service.ru/img/style/gold.png*/ no-repeat;
	}
.LogIn__photo {
	float: right;
	vertical-align: top;
}
.LogIn__photo:before {
	opacity: .15;
}


.SiteMenu {
	margin-top: -22px;
	position: relative;
	}
.SiteMenu__item {
	margin-right: 10px;
	padding: 0;
	}
.SiteMenu__item, .SiteMenu__faq {
	height: 40px;
	line-height: 40px;
	width: 140px;
	text-align: center;
}
.SiteMenu__faq {
	position: absolute;
	right: 10px;
	}




.SiteContent {
	margin: 3em 0 4em;
	min-height: 120px;
	position: relative;
	z-index: 2;
	}
.SiteContent__title {
	text-align: center;
	font-size: 1.4rem;
	margin: 1em 0 2em;
	}
.SiteContent__title b {color: #ffb651;}


.Product {
	display: inline-block;
	vertical-align: top;
	margin: 0 10px 20px;
	font-size: .7rem;
	box-sizing: border-box;
	padding: 10px;
	height: 300px;
	width: 220px;
	white-space: nowrap;
	border: 1px solid #000;
	box-shadow: 0 2px #000, inset 0 2px 2px #fff;
	border-radius: 8px;
	background-color: #5fb4c8;
	background-image: -webkit-linear-gradient(top, RGBA(255,255,255,.1), RGBA(0,0,0,.3));
	background-image:    -moz-linear-gradient(top, RGBA(255,255,255,.1), RGBA(123,123,123,0), RGBA(0,0,0,.2));
	background-image:     -ms-linear-gradient(top, RGBA(255,255,255,.1), RGBA(123,123,123,0), RGBA(0,0,0,.2));
	background-image:      -o-linear-gradient(top, RGBA(255,255,255,.1), RGBA(123,123,123,0), RGBA(0,0,0,.2));
	background-image:         linear-gradient(top, RGBA(255,255,255,.1), RGBA(123,123,123,0), RGBA(0,0,0,.2));
	cursor: pointer;
	text-align: center;
	position: relative;
	}
.Product._full {background: #b2b2b2;}
.Product__title {
	font-size: 1.3em;
	margin: .5em 0 .2em;
	} .Product__title b {color: #ffb651;}
.Product__image {
	height: 110px;
}
.Product__cost {
	position: absolute;
	bottom: 10px; left: 10px; right: 10px;
	box-sizing: border-box;
	line-height: 3em;
	background: RGBA(0,0,0,.3);
	border: 1px solid RGBA(255,255,255,.5);
	border-radius: 6px;
	overflow: hidden;
	transition: transform .15s cubic-bezier(0.36, 1.28, 0.78, 1.32);
	} .Product__cost b {color: #7bc53f; font-size: 1.2em;}
.Product:hover .Product__cost{
	transform: scale(1.2);
}
.Product__text {margin: .5em 0; font-size: 1em;}
.Product__text b {color: #a146bf; font-size: 1.2em;}
.Product__loadWrap {
	display: block;
	overflow: hidden;
	height: 30px;
	line-height: 30px;
	margin-top: -30px;
	margin-bottom: .9em;
	font-size: 1em;
	border: 1px solid #000;
	box-shadow: 0 2px #000, inset 0 1px 2px #fff;
	border-radius: 8px;
	background-image: -webkit-linear-gradient(top, RGBA(255,255,255,.1), RGBA(123,123,123,0), RGBA(0,0,0,.2));
	background-image:    -moz-linear-gradient(top, RGBA(255,255,255,.1), RGBA(123,123,123,0), RGBA(0,0,0,.2));
	background-image:     -ms-linear-gradient(top, RGBA(255,255,255,.1), RGBA(123,123,123,0), RGBA(0,0,0,.2));
	background-image:      -o-linear-gradient(top, RGBA(255,255,255,.1), RGBA(123,123,123,0), RGBA(0,0,0,.2));
	background-image:         linear-gradient(top, RGBA(255,255,255,.1), RGBA(123,123,123,0), RGBA(0,0,0,.2));
	padding: 0;
	text-align: center;
	}
.Product__loadBorder {
	width: 100%;
	overflow: hidden;
	border-radius: 8px 0 0 8px;
	}
.Product__load {
	background: #a146bf;
	height: 30px;
	border-radius: 6px;
	}

.GemsPage > *:nth-child(n+5) .Product {
	width: 172px;
	height: 235px;
	font-size: .55rem;
	}
.GemsPage > *:nth-child(n+5) .Product__image {height: 86px;}
.GemsPage > *:nth-child(n+5) .Product__load,
.GemsPage > *:nth-child(n+5) .Product__loadWrap {height: 24px; line-height: 24px;}
.GemsPage > *:nth-child(n+5) .Product__loadWrap {margin-top: -24px; margin-bottom: .6em;}

.Product._th {
	margin-bottom: 4rem;
}
._th .Product__image {
	height: auto;
}


.Product._soon {
	background: none;
	border: 2px dashed #666;
	text-align: center;
	box-shadow: none;
	padding: 3em 10px;
}
.GemsPage .Product._soon {
	padding-top: 5.5em;
}
.Product._soon > * {
	display: block;
	margin: 1em auto;
	cursor: auto;
	color: #666;
	text-shadow: none;
}
.Product._soon img {
	-webkit-filter: grayscale(100%);
}






	
	
.Account:not(._page) {
	display: block;
	margin: 0 10px 40px;
	box-sizing: border-box;
	padding: 10px;
	height: 150px;
	border: 1px solid #000;
	box-shadow: 0 2px #000, inset 0 2px 2px #fff;
	border-radius: 8px;
	background-color: #b2b2b2;
	background-image: -webkit-linear-gradient(top, RGBA(255,255,255,.1), RGBA(0,0,0,.3));
	background-image:    -moz-linear-gradient(top, RGBA(255,255,255,.1), RGBA(123,123,123,0), RGBA(0,0,0,.2));
	background-image:     -ms-linear-gradient(top, RGBA(255,255,255,.1), RGBA(123,123,123,0), RGBA(0,0,0,.2));
	background-image:      -o-linear-gradient(top, RGBA(255,255,255,.1), RGBA(123,123,123,0), RGBA(0,0,0,.2));
	background-image:         linear-gradient(top, RGBA(255,255,255,.1), RGBA(123,123,123,0), RGBA(0,0,0,.2));
	position: relative;
	}
.Account__th {
	display: inline-block;
	vertical-align: top;
	height: 130px;
	width: 150px;
	}
.Account__cost {
	display: block;
	text-align: left;
	margin-top: -30px;
	}
.Account__image {
	display: block;
	margin: 0 auto;
	height: 170px;
	}
.Account__cost:after {
	content: '';
	position: absolute;
	display: block; width: 30px; height: 30px;
	border-radius: 15px;
	border: 1px solid #000;
	right: -5px; top: -1px;
	background: #fcec3f url(/image/gold.png)/*tpa=http://coc-service.ru/img/style/gold.png*/ no-repeat;
	}
.Account__lvl {
	position: relative;
	display: block; width: 54px; height: 54px;
	margin: 0 0 -54px 100px;
	line-height: 54px;
	text-align: center;
	background: url(/image/lvl.png)/*tpa=http://coc-service.ru/img/style/lvl.png*/ no-repeat;
	font-size: .9rem;
	z-index: 2;
	}
.Account__league {
	position: relative;
	display: block; width: 54px; height: 54px;
	margin: -44px 0 0 130px;
	z-index: 2;
	}
.Account__os {
	position: relative;
	display: block; width: 54px; height: 54px;
	margin: 0 0 -54px 15px;
	z-index: 2;
	word-wrap: normal;
	}
.Account__os > * {display: block; position: relative; top: 15px; margin-bottom: 5px;}
.Account__full {
	text-align: center;
	font-size: 1.5em;
	margin-top: -.5em;
	color: #ffb651;
}
.Account__more {
	position: absolute;
	width: 200px;
	line-height: 40px;
	height: 40px;
	bottom: -20px;
	left: 50%;
	margin-left: -100px;
	text-align: center;
	}

.PageAccount .Account__lvl {
	margin-left: 150px;
}
.Product .Account__lvl {
	margin-left: 130px;
	margin-top: 10px;
}
.PageAccount .Account__cost {
	margin-top: .5em;
}
.PageAccount .Account__os {
	position: relative;
	top: -10px;
	margin-top: 20px;
}
.PageAccount .Account__league {
	margin-left: 150px;
}
.PageAccount p:not([class]) {
	margin: 1em 0;
}
.PageAccount .Tickets__description, .Tickets__description._foo {
	font-size: 1rem;
}
.PageAccount .Tickets__description *:nth-child(2n-1), .Tickets__description._foo *:nth-child(2n-1) {
	display: block;
	text-align: left;
	margin-bottom: -.5em;
	font-size: .9em;
	font-weight: normal;
	}
.Account__buy {
	display: block;
	text-align: center;
	line-height: 3;
	height: 3em;
	margin: 1.5em 0;
}
.Account__village {
	/*padding: 6px;
	border: 1px solid #666;
	background: #eee;
	border-radius: 3px;*/
	margin: 1em 0;
} .Account__village img {vertical-align: bottom;}
.Account__comment {
	margin: 0 0 1em;
}





.SiteFooter {
	text-align: center;
	background-color: #16130e;
	padding: 2em 0;
	color: #c9c3b5;
	position: relative;
	}
.SiteFooter:before, .SiteFooter:after {
	content: '';
	display: block;
	position: absolute;
	bottom: 0;
	}
.SiteFooter:before {
	left: 0;
	width: 374px; height: 212px;
	background: url(/image/footer-bg-1.png)/*tpa=http://coc-service.ru/img/style/footer-bg-1.png*/;
	}
.SiteFooter:after {
	right: 0;
	width: 395px; height: 365px;
	background: url(/image/footer-bg-2.png)/*tpa=http://coc-service.ru/img/style/footer-bg-2.png*/;
	}
.Btn._youtube, .Btn._vkontakte {
	width: 50px;
	height: 50px;
	margin: 0 5px 1em;
	position: relative;
	}
.Btn._youtube {background-color: #d80000;}
.Btn._vkontakte {background-color: #104a5f;}
.Btn._youtube:after, .Btn._vkontakte:after {
	content: '';
	display: block;
	background: url(/image/social.png)/*tpa=http://coc-service.ru/img/style/social.png*/ 0 0 no-repeat;
	height: 20px;
	width: 22px;
	position: absolute;
	left: 50%; margin-left: -11px;
	top: 50%; margin-top: -10px;
	} .Btn._vkontakte:after {width: 34px; margin-left: -17px; background-position: -22px 0;}
.SiteFooter__menu a {margin: 0 7px;
position: relative; z-index: 2;}
.SiteFooter__copyright {font-size: .86em; margin-top: 1em;}
/* Баг-фикс тролля, залезающего на контент */
.SiteContent [class^=gridcol] {
	position: relative;
	z-index: 1;
}



.Popup__cover {
	position: fixed;
	top: 0; left: 0;
	width: 100%;
	height: 100%;
	background: RGBA(0,0,0,.5);
	z-index: 8;
	display: none;
	}
.Popup {
	width: 50%;
	position: fixed;
	min-height: 300px;
	top: 25%;
	left: 25%;
	background-color: #5c5451;
	border-radius: 12px;
	border: 1px solid #000;
	box-shadow: 0 2px #000, inset 0 1px 2px #fff;
	background-image: -webkit-linear-gradient(top, RGBA(255,255,255,.1), RGBA(123,123,123,0), RGBA(0,0,0,.2));
	background-image:    -moz-linear-gradient(top, RGBA(255,255,255,.1), RGBA(123,123,123,0), RGBA(0,0,0,.2));
	background-image:     -ms-linear-gradient(top, RGBA(255,255,255,.1), RGBA(123,123,123,0), RGBA(0,0,0,.2));
	background-image:      -o-linear-gradient(top, RGBA(255,255,255,.1), RGBA(123,123,123,0), RGBA(0,0,0,.2));
	background-image:         linear-gradient(top, RGBA(255,255,255,.1), RGBA(123,123,123,0), RGBA(0,0,0,.2));
	z-index: 8;
	display: none;
	}
.Popup:before {
	content: '';
	position: absolute;
	background: #fff;
	opacity: .3;
	border-radius: 8px;
	top: 4px; left: 4px; right: 4px; height: 25px;
	}
.Popup__header {
	text-align: center;
	line-height: 55px;
	color: #f2b559;
	position: relative;
	}
.Popup__faq, .Popup__close {
	display: block;
	position: absolute;
	width: 30px;
	height: 30px;
	line-height: 30px;
	padding: 0;
	text-align: center;
	top: 10px;
	right: 10px;
	z-index: 10;
	}
.Popup__faq {right: 50px;}
.Popup__content {
	background: #e3e5d2;
	border-radius: 8px;
	position: absolute;
	top: 50px;
	bottom: 10px; left: 10px; right: 10px;
	padding: 10px 20px;
	color: #2f2f30;
	overflow-y: auto;
	overflow-x: hidden;
	}



.Tickets__loadWrap {
	display: block;
	overflow: hidden;
	height: 40px;
	line-height: 40px;
	margin-top: -40px;
	margin-bottom: 40px;
	border: 1px solid #000;
	box-shadow: 0 2px #000, inset 0 1px 2px #fff;
	border-radius: 8px;
	background-image: -webkit-linear-gradient(top, RGBA(255,255,255,.1), RGBA(123,123,123,0), RGBA(0,0,0,.2));
	background-image:    -moz-linear-gradient(top, RGBA(255,255,255,.1), RGBA(123,123,123,0), RGBA(0,0,0,.2));
	background-image:     -ms-linear-gradient(top, RGBA(255,255,255,.1), RGBA(123,123,123,0), RGBA(0,0,0,.2));
	background-image:      -o-linear-gradient(top, RGBA(255,255,255,.1), RGBA(123,123,123,0), RGBA(0,0,0,.2));
	background-image:         linear-gradient(top, RGBA(255,255,255,.1), RGBA(123,123,123,0), RGBA(0,0,0,.2));
	cursor: default;
	}
.Tickets__load {
	background: #a146bf;
	height: 40px;
	border-radius: 8px;
	transition: width .2s linear;
	}
.Tickets__info {
	display: inline-block;
	vertical-align: top;
	position: relative;
	font-size: .8rem;
	}
.Tickets__info p {
	margin-bottom: 1em;
	}
.Tickets__title, .Tickets__chanse {
	text-align: center;
	font-size: 1.2rem;
	margin-bottom: 1em;
	font-weight: bold;
	}
.Tickets__image {
	display: block;
	margin: 1.5em auto;
	}
.Tickets__description {font-weight: bold; font-size: 1.12rem; position: relative;}
.Tickets__description * {
	display: inline-block;
	padding: 0;
	margin: 0;
	line-height: 2;
	}
.Tickets__description *:nth-child(2n-1) {
	width: 150px;
	text-align: right;
	color: #ffb651;
	margin-right: 10px;
	}
.Tickets__description:before, .Tickets__description *:nth-child(2n):after {
	content: '';
	display: block;
	border-top: 1px solid #fff;
	border-bottom: 1px solid #000;
	opacity: .1;
	position: absolute;
	width: 100%; left: 0;
	}
.Tickets__randomBtn {
	display: block;
	font-size: 1.1em;
	text-align: center;
	margin: 0 auto;
	height: 50px;
	line-height: 50px;
	}
.Tickets__places {
	font-size: 0;
	margin-right: -10px;
}
.Tickets__place, .Tickets__btn {
	display: inline-block;
	vertical-align: top;
	font-size: .7rem;
	padding: 0;
	margin: 0 10px 10px 0;
	width: 53px; height: 53px; line-height: 53px;
	text-align: center;
	overflow: hidden;
	}
.Tickets__btn {
	background: #b2b2b2;
	border-radius: 8px;
	text-decoration: none;
	transition: background .05s linear;
	box-sizing: border-box;
	border: 1px solid #000;
	border-bottom-width: 2px;
	position: relative; z-index: 1;
}
.Tickets__btn:hover {
	background: #dd6c18;
}
.Tickets__place img {
	background: #000;
	border-radius: 8px;
	display: block;
	width: 100%;
	height: 100%;
	vertical-align: top;
	box-sizing: border-box;
	border-radius: 8px;
	border: 1px dashed #666;
	opacity: .3;
	}
.Tickets__place._win img {
	opacity: 1;
	border: 1px solid #ffb651;
}
.Tickets__place._win {
	box-shadow: 0 0 15px #ffb651;
	border-radius: 8px;
}
	
	
.Content {
	margin: 0 10px;
	border-radius: 12px;
	background-color: #e3e5d2;
	padding: 2rem 30px;
	border: 1px solid #000;
	border-bottom-width: 3px;
	font-size: 1rem;
	line-height: 1.5;
	color: #312c24;
}
.Content p:not(:first-child) {
	margin-top: 1rem;
}
.Content__p {
	margin-bottom: 1em;
}
.Content__title {
	font-size: 1.2em;
	margin-bottom: .7em;
}
.Content__title:not(:first-child) {
	margin-top: 2.5em;
}
.Content__subtitle {
	font-size: 1em;
	margin-bottom: .7em;
	margin-top: 1.8em;
}
.Content__title b, .Content__subtitle b, .Content__p strong {
	color: #ffb651;
}
.Content__p a {
	color: #9eb5c5;
}
._indent3 {
	margin-top: 5rem;
}
._indent1 {
	margin-top: 1rem;
}
	
	
	
	
	
.Join {
	text-align: center;
}
.Join input {
	display: block;
	width: 300px;
	height: 3em;
	line-height: 3em;
	margin-top: .5rem;
}
.Join p {
	margin: 0 auto;
	width: 300px;
	font-size: .8rem;
}
.Join p:not(:first-child) {
	margin-top: 1.6rem;
}
.Error {
	color: #ff0000;
}

.Message {
	position: fixed;
	width: 300px;
	padding: 10px 13px;
	top: 30px;
	right: 30px;
	background: RGBA(0,0,0,.7);
	border-radius: 6px;
	border: 1px solid #000;
	z-index: 11;
	text-align: center;
	color: #fff;
	display: none;
}
.img-circle {
    width: auto;
    height: auto;
    border-radius:50%;
    box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.75);
    border:0px;
    overflow:hidden;
	} 


.Profile {}
.Profile__photo {
	background: #16130e;
	border-radius: 8px;
	display: inline-block;
	vertical-align: top;
	position: relative;
	border: 1px solid #000;
	box-shadow: 0 2px #000;
	overflow: hidden;
	box-sizing: border-box;
	width: 100px; height: 100px;
	z-index: 0;
}
.Profile__photo img {
	/*min-width: 100px; min-height: 100px;
	position: relative;
	top: -1px; left: -1px;*/
}
/*.Profile__photo:before {
	content: '';
	display: block;
	position: absolute;
	background: #fff;
	opacity: .15;
	border-radius: 6px;
	top: 2px; left: 3px; right: 3px; bottom: 40%;
	z-index: 1;
	}*/
.Profile__photo:after {
	content: '';
	display: block;
	position: absolute;
	border-radius: 8px;
	top: 0; left: 0; right: 0; bottom: 0;
	box-shadow: inset 0 1px 2px #fff;
	z-index: 1;
}
.Profile__photo._big {width: 200px; height: 200px;}
/*.Profile__photo._big img {min-width: 220px; min-height: 220px;}*/
.Profile__photo._min {width: 50px; height: 50px;}
/*.Profile__photo._min img {min-width: 50px; min-height: 50px;}*/

.Profile__changePhoto {
	display: block;
	color: #fff;
	background: RGBA(0,0,0,.8);
	border-radius: 4px;
	position: absolute;
	left: 10px; right: 10px;
	bottom: 10px;
	line-height: 2em;
	border: 1px solid #000;
	text-align: center;
	opacity: 0;
	transition: opacity .2s linear;
} .Profile__photo:hover .Profile__changePhoto {opacity: 1}

.Profile__login {
	color: #ffb651;
	font-size: 1.7em;
	margin-bottom: .5em;
}
.Profile__email a {
	color: #74716c;
}
.Profile__action {
	display: block;
	text-align: center;
	height: 2.5em; line-height: 2.5em;
	margin: 1em 0;
	padding: 0;
	white-space: nowrap;
}
.Profile__money {
	display: block;
	padding-left: 35px;
	width: 300px;
	position: relative;
	cursor: default;
	color: #ffb651;
	margin: 1em 0;
	}
.Profile__money:after {
	content: '';
	position: absolute;
	display: block; width: 30px; height: 30px;
	border-radius: 15px;
	border: 1px solid #000;
	left: -5px; top: -1px;
	background: #fcec3f url(/image/gold.png)/*tpa=http://coc-service.ru/img/style/gold.png*/ no-repeat;
	}

.Profile__selectPhoto {
	font-size: 0;
	margin-right: -30px;
	margin-top: 30px;
}
.Profile__selectPhoto > * {margin: 0 14px 14px 0; cursor: pointer;}
.Profile__messages {
	display: none;
	position: absolute;
	width: 1.5em;
	height: 1.5em;
	line-height: 1.7em;
	color: #fff;
	font-family: SupercellMagic;
	background: #d80000;
	border: 1px solid #fff;
	border-radius: 6px;
	text-align: center;
	box-shadow: 0 1px 2px #000;
	right: -2px;
	top: -2px;
	cursor: pointer;
}

.Profile__message {
	padding: .8em 20px;
	background: -webkit-linear-gradient(top, #dde3dc, #d2d5cc);
	border: 1px solid #cccdc7;
	border-radius: 6px;
	font-weight: bold;
	margin-bottom: .5em;
	box-shadow: 0 1px 1px #76736d;
}
.Profile__message._new {
	background: -webkit-linear-gradient(top, #a6ed49, #94d93f);
	box-shadow: 0 1px 1px #849753;
	border-color: #abd968;
}
.Profile__message h2 {
	font-size: .9em;
	margin-bottom: .5em;
}
.Add {
	padding: 0;
	width: 32px;
	line-height: 32px;
	height: 32px;
	position: absolute;
	left: -10px;
	top: -2px;
	text-align: center;
	font-size: 30px;
} .Add > * {vertical-align: middle;}

.Profile__section .Content__title {
	font-size: 1.2rem;
	margin-top: 80px;
}
.Profile__section .Content__title:last-child {
	display: none;
}




.Popup__form {
	text-align: center;
	margin-top: 2em;
}
.Popup__form input {
	display: block;
	width: 300px;
	height: 3em;
	line-height: 3em;
	margin-top: .5rem;
}
.Popup__form p {
	margin: 0 auto;
	width: 300px;
	font-size: .8rem;
}
.Popup__form p:not(:first-child) {
	margin-top: 1.6rem;
}




.Messages {
	position: fixed;
	width: 300px;
	top: 0;
	right: 30px;
	z-index: 11;
}
.Messages__item {
	padding: 10px 13px;
	background: RGBA(0,0,0,.7);
	color: #fff;
	border: 1px solid #000;
	border-radius: 6px;
	text-align: center;
	margin: 10px 0;
}
.Messages__item._error {
	background: RGBA(200,0,0,.7);
	border: 1px solid #c00;
}
.Messages__item._success {
	background: RGBA(0,200,0,.7);
	border: 1px solid #0c0;
}



.Confirm {
	width: 420px;
	position: fixed;
	bottom: 50%;
	transform: translateY(50%);
	left: 50%;
	margin-left: -160px;
	background-color: #5c5451;
	border-radius: 12px;
	border: 1px solid #000;
	box-shadow: 0 2px #000, inset 0 1px 2px #fff;
	background-image: -webkit-linear-gradient(top, RGBA(255,255,255,.1), RGBA(123,123,123,0), RGBA(0,0,0,.2));
	background-image:    -moz-linear-gradient(top, RGBA(255,255,255,.1), RGBA(123,123,123,0), RGBA(0,0,0,.2));
	background-image:     -ms-linear-gradient(top, RGBA(255,255,255,.1), RGBA(123,123,123,0), RGBA(0,0,0,.2));
	background-image:      -o-linear-gradient(top, RGBA(255,255,255,.1), RGBA(123,123,123,0), RGBA(0,0,0,.2));
	background-image:         linear-gradient(top, RGBA(255,255,255,.1), RGBA(123,123,123,0), RGBA(0,0,0,.2));
	z-index: 10;
	padding: 0 10px 10px;
	display: none;
	}
.Confirm:before {
	content: '';
	position: absolute;
	background: #fff;
	opacity: .3;
	border-radius: 8px;
	top: 4px; left: 4px; right: 4px; height: 25px;
	}
.Confirm__header {
	text-align: center;
	line-height: 55px;
	height: 55px;
	color: #f2b559;
	position: relative;
	}
.Confirm__content {
	background: #e3e5d2;
	border-radius: 8px;
	top: 50px;
	padding: 10px 20px;
	color: #2f2f30;
	text-align: center;
	}
.Confirm__btn {
	margin: 0 20px;
	padding: 0;
	width: 220px;
	text-align: center;
	height: 2.5em;
	line-height: 2.3;
}
.Confirm p {
	margin-bottom: 1em;
}

//Custom

.Custom {
  width: 420px;
  position: fixed;
  bottom: 50%;
  transform: translateY(50%);
  left: 50%;
  margin-left: -160px;
  background-color: #5c5451;
  border-radius: 12px;
  border: 1px solid #000;
  box-shadow: 0 2px #000, inset 0 1px 2px #fff;
  background-image: -webkit-linear-gradient(top, RGBA(255, 255, 255, .1), RGBA(123, 123, 123, 0), RGBA(0, 0, 0, .2));
  background-image: -moz-linear-gradient(top, RGBA(255, 255, 255, .1), RGBA(123, 123, 123, 0), RGBA(0, 0, 0, .2));
  background-image: -ms-linear-gradient(top, RGBA(255, 255, 255, .1), RGBA(123, 123, 123, 0), RGBA(0, 0, 0, .2));
  background-image: -o-linear-gradient(top, RGBA(255, 255, 255, .1), RGBA(123, 123, 123, 0), RGBA(0, 0, 0, .2));
  background-image: linear-gradient(top, RGBA(255, 255, 255, .1), RGBA(123, 123, 123, 0), RGBA(0, 0, 0, .2));
  z-index: 10;
  padding: 0 10px 10px;
  display: none;
}
.Custom:before {
  content: '';
  position: absolute;
  background: #fff;
  opacity: .3;
  border-radius: 8px;
  top: 4px;
  left: 4px;
  right: 4px;
  height: 25px;
}
.Custom__header {
  text-align: center;
  line-height: 55px;
  height: 55px;
  color: #f2b559;
  position: relative;
}
.Custom__content {
  background: #e3e5d2;
  border-radius: 8px;
  top: 50px;
  padding: 10px 20px;
  color: #2f2f30;
  text-align: center;
}
.Custom__btn {
  margin: 0 20px;
  padding: 0;
  width: 220px;
  text-align: center;
  height: 2.5em;
  line-height: 2.3;
}
.Custom p {
  margin-bottom: 1em;
}


.Gems__enroll input {
	width: 100%;
	line-height: 2.5em;
	height: 2.5em;
}

.Drop {
	display: block;
	text-align: center;
	padding: 1em 0;
	border: 1px dashed #979290;
	color: #979290;
	border-radius: 12px;
}
.Drop p:not(:last-child) {
	margin-bottom: 1em;
}
.Drop:hover {
	color: #217bbb;
	border-color: #217bbb;
	background: RGBA(87,123,189,.2);
	cursor: pointer;
}
.Drop._hover {
	color: #217bbb;
	border-color: #217bbb;
	background: RGBA(87,123,189,.2);
	padding: 2em 0;
}




.About {
	margin: 1em 0;
	padding: 0 20px;
}
.About p {
	margin-bottom: 1em;
	text-align: justify;
}
.About__title {
	font-size: 1.7em;
	text-align: center;
	height: 284px;
}
.About__title b {
	color: #ffb651;
}


.BoostingForm p {
	margin-bottom: 1rem;
	text-align: center;
}
.BoostingForm input {
	width: 300px;
	height: 2.5em;
	line-height: 2.5em;
}
.BoostingForm textarea {
	height: 60px;
	width: 300px;
}


.FAQ__step {
	margin-top: 1em;
	position: relative;
	background-color: #5c5451;
	border-radius: 12px;
	border: 1px solid #000;
	box-shadow: 0 2px #000, inset 0 1px 2px #fff;
	background-image: -webkit-linear-gradient(top, RGBA(255,255,255,.1), RGBA(123,123,123,0), RGBA(0,0,0,.2));
	background-image:    -moz-linear-gradient(top, RGBA(255,255,255,.1), RGBA(123,123,123,0), RGBA(0,0,0,.2));
	background-image:     -ms-linear-gradient(top, RGBA(255,255,255,.1), RGBA(123,123,123,0), RGBA(0,0,0,.2));
	background-image:      -o-linear-gradient(top, RGBA(255,255,255,.1), RGBA(123,123,123,0), RGBA(0,0,0,.2));
	background-image:         linear-gradient(top, RGBA(255,255,255,.1), RGBA(123,123,123,0), RGBA(0,0,0,.2));
	}
.FAQ__step:before {
	content: '';
	position: absolute;
	background: #fff;
	opacity: .3;
	border-radius: 8px;
	top: 4px; left: 4px; right: 4px; height: 20px;
	}
.FAQ__title {
	text-align: center;
	height: 2.3em;
	line-height: 2.5em;
	color: #f2b559;
	position: relative;
	}
.FAQ__image {
	margin: 0 5px;
	overflow: hidden;
	border-radius: 6px 6px 0 0;
	height: 208px;
	width: 208px;
}
.FAQ__description {
	background: #e3e5d2;
	margin: 0 5px 5px;
	border-radius: 0 0 6px 6px;
	padding: 5px;
	text-align: center;
	color: #312c24;
	height: 135px;
}


.Popup__content {
	border-radius: 8px;
	position: absolute;
	top: 50px;
	bottom: 10px; left: 10px; right: 10px;
	padding: 10px 20px;
	color: #2f2f30;
	overflow-y: auto;
}

.StarList {
	list-style: none;
	padding: 0;
	line-height: 70px;
}
.StarList li {
	display: inline-block;
	line-height: 1;
	vertical-align: middle;
	padding-left: 60px;
	font-size: 1.3em;
	position: relative;
}
.StarList li:before {
	content: '';
	display: block;
	position: absolute;
	left: 0;
	top: 50%;
	margin-top: -25px;
	width: 50px; height: 50px;
	background: url(/image/star-list.png)/*tpa=http://coc-service.ru/img/star-list.png*/;
}

.Payment__form {
	display: inline-block;
	margin: 0 10px;
	position: relative;
	z-index: 3;
}
.Payment__btn {
	display: inline-block;
	width: 135px;
	height: 80px;
	border: none;
	background-color: #fff;
	background-repeat: no-repeat;
	background-position: center center;
	border-radius: 8px;
	box-shadow: 0 0 10px RGBA(0,0,0,.3);
	line-height: 135px;
	word-wrap: nospace;
	cursor: pointer;
	text-align: center;
	padding: 0;
	font-size: 0;
	text-indent: -9999px;
	outline: none;
}
.Payment__btn._webmoney {background-image: url(/image/webmoney.png)/*tpa=http://coc-service.ru/img/webmoney.png*/;}
.Payment__btn._yandex {background-image: url(/image/yandex.png)/*tpa=http://coc-service.ru/img/yandex.png*/;}
.Payment__btn._qiwi {background-image: url(/image/qiwi.png)/*tpa=http://coc-service.ru/img/qiwi.png*/;}
.Payment__btn._other {background-image: url(/image/other.png)/*tpa=http://coc-service.ru/img/other.png*/;}

.Wait {
	display: none;
	z-index: 20;
	top: 0; left: 0;
	position: fixed;
	width: 100%;
	height: 100%;
	background: RGBA(0,0,0,.5);
	color: #fff;
	text-align: center;
}
.Wait__text {
	position: absolute;
	display: inline-block;
	top: 50%;
	margin-top: -21px;
	border-radius: 50%;
	padding: 5px;
	background: #000;
	overflow: hidden;
}
.Wait img {
	vertical-align: middle;
}



.Reviews {
	margin-bottom: 6em;
}
hr {
	height: 0;
	position: relative;
	margin: -1px 0;
	border-top: 1px solid RGBA(0,0,0,.5);
	border-bottom: 1px solid RGBA(255,255,255,.3);
}
.Reviews hr {
	margin: 2em 0 2.5em;
}
.Review {
	font-size: 0;
	display: block;
	position: relative;
}
.Review._hidden .Review__photo, .Review._hidden .Review__content {
	opacity: .5;
}
.Review__photo {
	margin-right: 40px;
	font-size: 1rem;
	display: inline-block;
	vertical-align: top;
}
.Review__content {
	width: 800px;
	font-size: 1rem;
	display: inline-block;
	vertical-align: top;
}
.Review__user {
	color: #ffb651;
}
.Review__date {
	position: absolute;
	right: 0;
	top: 5px;
	display: inline;
	color: #999;
	font-size: .9em;
	margin-left: 1em;
}
.Review__text {
	margin-top: .8em;
	font-size: 1.1em;
}
.Review textarea {
	height: 80px;
}

.Review__mark {
	margin-top: .6em;
}
.Review__mark > * {
	margin-right: 0;
	display: inline-block;
	width: 32px;
	height: 32px;
	background: url(/image/mark.png)/*tpa=http://coc-service.ru/img/style/mark.png*/ no-repeat;
}
.Review__mark._star {display: none;}
.Review__mark._star1 > *:first-child {background-position: 0 -32px;}
.Review__mark._star2 > *:nth-child(-n+2) {background-position: 0 -32px;}
.Review__mark._star3 > *:nth-child(-n+3) {background-position: 0 -32px;}
.Review__mark._star4 > *:nth-child(-n+4) {background-position: 0 -32px;}
.Review__mark._star5 > * {background-position: 0 -32px;}

.Review__radioMark {
	margin-bottom: 1em;
}
.Review__radioMark label {
	border: none;
	padding: 0;
	width: 32px;
	height: 32px;
	background: url(/image/mark.png)/*tpa=http://coc-service.ru/img/style/mark.png*/ 0 -32px no-repeat;
	border-radius: 0;
	font-size: 0;
}
.Review__radioMark [type=radio]:checked ~ label {
	background: url(/image/mark.png)/*tpa=http://coc-service.ru/img/style/mark.png*/ 0 0 no-repeat;
}

.Reviews__next {
	display: block;
	margin: 5em auto 0;
	text-align: center;
	width: 200px;
}
[type=checkbox] + .Review__show, .Review__show {
	position: relative;
	top: -3px;
	vertical-align: middle;
	margin-left: 1em;
	width: 32px;
	height: 32px;
	display: inline-block;
	border: none;
	padding: 0;
	background: url(/image/show.png)/*tpa=http://coc-service.ru/img/style/show.png*/ 0 -32px no-repeat;
	border-radius: 0;
	cursor: pointer;
}
[type=checkbox]:checked + .Review__show {background: url(/image/show.png)/*tpa=http://coc-service.ru/img/style/show.png*/ 0 0 no-repeat;}
.Review__show._del {background-position: 0 -64px;}




.Mail {
	padding: 30px 10px;
	font-size: 0;
	position: relative;
}
.Mail._admin {
	margin: 0 -10px;
	padding: 20px 10px;
}
.Mail._admin:first-of-type {
	margin-top: -20px;
}
.Mail._new {
	background-color: #36676d;
}
.Mail a {
	color: #ffb651;
}
.Mail p:not(:first-child) {
	margin-top: .5em;
}
.Mail > * {
	font-size: 1rem;
	display: inline-block;
}
.Mail__photo {
	width: 100px;
	margin-right: 20px;
}
.Mail__answer .Mail__photo {
	margin-right: 10px;
}
.Mail__body {
	display: inline-block;
	width: 560px;
}
.Mail__answer .Mail__body {
	width: 490px;
}
._admin .Mail__body {
	width: 500px;
}
.Mail__sender {
	margin-bottom: .5em;
	color: #ffb651;
}
.Mail__date {
	position: absolute;
	right: 10px;
	font-size: .8rem;
	color: #999;
}
.Mail__next {
	display: block;
	width: 200px;
	text-align: center;
	margin: 3em auto 0;
}
.Mail__quot {
	font-style: italic;
	font-size: .8em;
	color: #bbb;
	margin: 1em 0;
}


.Carousel, .Account__carousel {
	position: relative;
}
.Account__screen {
	width: 700px;
	text-align: center;
	background: #16130e;
} .Account__screen img {max-width: 100%; max-height: 100%; vertical-align: bottom;}
.Carousel__item {
	display: block;
	position: absolute;
	width: 100%;
}
.Carousel__item:not(:first-child) {display: none;}
.Carousel__nav {
	position: absolute;
	display: block; 
	width: 100%;
	left: 0;
	top: 50%;
	height: 1px;
}
.Carousel__nexte, .Carousel__backe {
	position: absolute;
	display: inline-block;
	width: 48px;
	height: 72px;
	top: -36px;
	background: url(/image/carousel.png) no-repeat;
	cursor: pointer;
}
.Carousel__backe  {
	left: -15px;
	background-position: 0 0;
}
.Carousel__nexte {
	right: -15px;
	background-position: -48px 0;
}
.Carousel__next, .Carousel__back {
	position: absolute;
	display: inline-block;
	width: 48px;
	height: 72px;
	top: -36px;
	background: url(/image/carousel-nav.png)/*tpa=http://coc-service.ru/img/style/carousel-nav.png*/ no-repeat;
	cursor: pointer;
}
.Carousel__back  {
	left: -15px;
	background-position: 0 0;
}
.Carousel__next {
	right: -15px;
	background-position: -48px 0;
}

.Soon {position: relative;}
.Soon > * {opacity: .5}
.Soon * {
	color: #777 !important;
}
.Soon img {
	-webkit-filter: grayscale(100%);
}
.Soon:after {
	content: 'Скоро...';
	position: absolute;
	font-size: 1.5rem;
	display: block;
	width: 100%;
	text-align: center;
	top: 50%;
	margin-top: -.75rem;
}









/* Admin */
.AdminMenu {
	padding: 0;
	margin: 0;
}
.AdminMenu__item {
	display: block;
	text-align: center;
	margin-bottom: 1em;
}
.AdminMenu__item._active {
	background-color: #217bbb;
}
.AdminMenu__item b {
	display: none;
	position: absolute;
	width: 1.5em;
	height: 1.5em;
	line-height: 1.7em;
	color: #fff;
	font-family: SupercellMagic;
	background: #d80000;
	border: 1px solid #fff;
	border-radius: 6px;
	text-align: center;
	box-shadow: 0 1px 2px #000;
	right: -2px;
	top: -2px;
	cursor: pointer;
}

.AdminContent {
	position: relative;
	z-index: 2;
}
.Admin__action {
	margin-bottom: 2em;
}

.AdminGems {
	display: block;
	margin-bottom: 3rem;
	background: #dde3dc -webkit-linear-gradient(top, #dde3dc, #d2d5cc);
	border-color: #000;
	border-style: solid;
	border-width: 1px 1px 2px 1px;
	border-radius: 6px;
	height: 105px;
	line-height: 105px;
	font-size: 0;
	color: #312c24;
	position: relative;
	opacity: .85;
	transition: opacity .2s linear;
}
.AdminGems:hover {opacity: 1;}
.AdminGems > div {
	font-size: 1rem;
	height: 100%;
	line-height: 1.333;
	display: inline-block;
	box-sizing: border-box;
	padding: 10px;
	vertical-align: top;
}
.AdminGems__title {color: #fff; font-size: .9em;}
.AdminGems__title b {color: #ffb651;}
.AdminGems > div:not(:first-child) {border-left: 1px solid RGBA(255,255,255,.3);}
.AdminGems > div:not(:last-of-type) {border-right: 1px solid RGBA(0,0,0,.1);}
.AdminGems > div:first-child {width: 15%;}
.AdminGems > div:nth-child(2) {width: 40%;}
.AdminGems > div:nth-child(3) {width: 45%;}

.AdminGems__btns {
	font-size: 1rem;
	position: absolute;
	bottom: -25px;
	opacity: 1;
	transition: opacity .2s linear;
	z-index: 2;
	line-height: 1;
	width: 100%;
	text-align: center;
}
.AdminGems:hover .AdminGems__btns {opacity: 1;}

.AdminGems._completed {
	opacity: 1;
}
.AdminGems._completed:after {
	content: '!';
	position: absolute;
	width: 1.5em;
	height: 1.5em;
	line-height: 1.7em;
	color: #fff;
	font-size: 1rem;
	font-family: SupercellMagic;
	background: #d80000;
	border: 1px solid #fff;
	border-radius: 6px;
	text-align: center;
	box-shadow: 0 1px 2px #000;
	right: -2px;
	top: -2px;
	cursor: pointer;
}

.AdminForm p {
	margin-bottom: 1em;
}
.AdminForm span {
	display: inline-block;
	width: 200px;
}
.AdminForm__btns {
	margin-top: 3em;
}

.AdminForm ._num {
	width: 100px;
	text-align: right;
}

.AdminScreen {
	margin-left: -20px;
	margin-top: 3em;
}
.AdminScreen__item {
	vertical-align: top;
	display: inline-block;
	width: 140px;
	height: 100px;
	padding: 2px;
	background: #eee;
	border: 1px solid #666;
	border-radius: 3px;
	line-height: 94px;
	box-sizing: border-box;
	margin-left: 20px;
	color: #312c24;
	text-align: center;
	position: relative;
}
.AdminScreen__item * {
	vertical-align: middle;
	max-width: 134px;
	max-height: 94px;
}
.AdminScreen__item._new {
	cursor: pointer;
	transition: all .2s linear;
	opacity: .2;
	font-family: SupercellMagic, Arial Black;
	color: #fff;
	font-size: 30px;
	text-shadow: 1px 0 #000, -1px 0 #000, 0 2px #000, 0 -1px #000, 1px 2px #000, -1px 2px #000, 1px -1px #000, -1px -1px #000;/**/
}
.AdminScreen__item._new:hover {
	opacity: 1;
}
.AdminScreen__item._new._hover {
	background: #d6edb4;
	border-color: #65744f;
}
.AdminScreen__item._new input {
	display: none;
}
.AdminScreen__btn {
	position: absolute;
	display: block;
	padding: 0;
	top: -10px;
	right: -10px;
	width: 30px;
	border-radius: 50%;
}

.AdminLog__item {
	padding: 20px 0;
}
.AdminLog__item b {
	color: #ffb651;
}


