#calculiator
{
	padding:10px;
	border:2px solid #cc0000;
}
#zagolovok
{
	font-weight:bolt;
	font-size:18pt;
	border-bottom:2px solid #cc0000;
}
#calculiator td
{
	padding:5px;
}

.operacia
{

	padding:0px 3px;
	color:white;
	background:navy;
	cursor:pointer;
	margin:5px;
	border:2px solid navy;
	text-align:center;
	font-weight:900;
	font-size:16pt;
}
.operacia:hover
{
	color:navy;
	background:white;
}
#rez
{

	padding:5px;
	color:#cc0000;
	background:white;
	margin:5px;
	border:2px solid #cc0000;
}
input
{
	border:2px solid #cc0000;
	padding:5px;
}